<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boostrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylecustom.css">

    <title>Vincent Van Gogh</title>
</head>
<body>
    <!-- Navbar -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
          <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img class="bi me-2" height="32" src="/assets/img/firma.png" alt="firma vincent">
          </a>

          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Works</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Photo Gallery</a></li>
          </ul>
        </header>
      </div>

      <!-- Portada -->
      <div class="row flex-lg-row-reverse align-items-center py-2 mx-auto">
        <div class="col-lg-6">
          <img src="assets/img/retrato.jpeg" class="d-block mx-lg-auto img-fluid mb-5 radius-border mt-3" width="380" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-3 fw-bold lh-1 ms-5">Vincent, el artista irreconocido</h1>
          <p class="lead ms-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod, arcu sit amet pulvinar elementum, nisl dui suscipit diam, vel consequat metus metus nec velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
      </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>