<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boostrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylecustom.css">

    <title>Vincent Van Gogh</title>
</head>
<body>
    <!-- Navbar -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
            <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img class="bi me-2" height="32" src="/assets/img/firma.png" alt="firma vincent">
            </a>

            <ul class="nav nav-pills">
            <li class="nav-item"><a href="/home" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/works" class="nav-link">Works</a></li>
            <li class="nav-item"><a href="/photo-gallery" class="nav-link">Photo Gallery</a></li>
            </ul>
        </header>
    </div>

    <!-- gallery page -->
    <div class="head-3 d-flex justify-content-center align-items-center" id="about">
        <div>
            <p class="display-4 fw-bold text-light" style="text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.54);">Photo Gallery</p>
        </div>
    </div>

    <div class="container">
        <h2 class="h2 mt-5 mx-4">Gallery</h2>
        <p class="mx-4">Obras del artista</p>

        <div class="d-flex flex-wrap m-3">
            <img class="col-3 m-2" src="/assets/img/gallery/gallery-1.jpeg" class="img-thumbnail" alt="...">
            <img class="col-3 m-2" src="/assets/img/gallery/gallery-2.jpeg" class="img-thumbnail" alt="...">
            <img class="col-3 m-2" src="/assets/img/gallery/gallery-3.jpeg" class="img-thumbnail" alt="...">
            <img class="col-3 m-2" src="/assets/img/gallery/gallery-4.jpeg" class="img-thumbnail" alt="...">
            <img class="col-3 m-2" src="/assets/img/gallery/gallery-5.jpeg" class="img-thumbnail" alt="...">
            <img class="col-3 m-2" src="/assets/img/gallery/gallery-6.jpeg" class="img-thumbnail" alt="...">
            <img class="col-3 m-2" src="/assets/img/gallery/gallery-7.jpeg" class="img-thumbnail" alt="...">
            <img class="col-3 m-2" src="/assets/img/gallery/gallery-8.jpeg" class="img-thumbnail" alt="...">
            <img class="col-3 m-2" src="/assets/img/gallery/gallery-9.jpeg" class="img-thumbnail" alt="...">
            <img class="col-3 m-2" src="/assets/img/gallery/gallery-10.jpeg" class="img-thumbnail" alt="...">
            <img class="col-3 m-2" src="/assets/img/gallery/gallery-11.jpeg" class="img-thumbnail" alt="...">
            <img class="col-3 m-2" src="/assets/img/gallery/gallery-12.jpeg" class="img-thumbnail" alt="...">
            <img class="col-3 m-2" src="/assets/img/gallery/gallery-13.jpeg" class="img-thumbnail" alt="...">
            <img class="col-3 m-2" src="/assets/img/gallery/gallery-14.jpeg" class="img-thumbnail" alt="...">
            <img class="col-3 m-2" src="/assets/img/gallery/gallery-15.jpeg" class="img-thumbnail" alt="...">
        </div>
    </div>

    <!-- footer -->

    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/home" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
            <li class="nav-item"><a href="/works" class="nav-link px-2 text-muted">Works</a></li>
            <li class="nav-item"><a href="/photo-gallery" class="nav-link px-2 text-muted">Photo Gallery</a></li>
            </ul>
            <p class="text-center text-muted">© 2022 All text from Wikipedia</p>
        </footer>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>